@font-face {
  font-family: Bubbleboddy;
  src: local('Bubbleboddy'), url(fonts/Bubbleboddy.ttf) format('truetype');
}

@font-face {
  font-family: KingGaming;
  src: local('KingGaming'), url(fonts/KingGaming.otf) format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menuButton {
  font-family: Bubbleboddy;
  font-size: 30px;
  color: greenyellow;
  background-color: #282c34;
  border-radius: 10px;
  padding-top: 5px;
}

.clickButton {
  font-family: Bubbleboddy;
  font-size: 20px;
  color: greenyellow;
  background-color: #282c34;
  border-radius: 10px;
  padding: 5px 10px 0px 10px;
}

.headingText {
  font-family: Bubbleboddy;
  font-size: 75px;
  color: greenyellow;
}

.messageText {
  font-family: KingGaming;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
